.list {
  width: 100%;
  margin-top: 10px;
}

.list .listTitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
}

.list .wrapper {
  position: relative;
}

.wrapper .sliderArrow {
  width: 50px;
  height: 100%;
  background-color: rgb(22, 22, 22, 0.5);
  color: white;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderArrow.left {
  left: 0;
  visibility: hidden;
}

.sliderArrow.right {
  right: 0;
}

.wrapper .container {
  margin-left: 50px;
  display: flex;
  margin-top: 10px;
  width: max-content;
  transform: translateX(0px);
  transition: all 1s ease;
}
