.watch {
  width: 100vw;
  height: 100vh;
}

.watch .back {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
}

.watch .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.watch .videoError {
  height: 100%;
  color: white;
  font-weight: 800;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
