{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Netflix</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'main.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block style %}{% endblock %}
</head>
<body>
    {% block navbar %} {% endblock %}
    <div class="home">
        {% block content %}{% endblock %}
    </div>

</body>
{% block jsstyle %}

{% endblock %}
<script src="{% static 'logout.js' %}"></script>
<script>
    function profileData(username){
            location.href = `{% url 'profile' %}`;
        }
        function action(movie_id,action){
            location.href = `/${action}/${movie_id}/`
        }
</script>
</html>

