<div class="featured">
      <div class="category">
        <span>{{name|title}}</span>
      </div>
      <img 
        src="{{movie.image.url}}" 
        alt="" 
      />
      <div class="info">
          <img 
            src="{{movie.image.url}}"
            alt="" 
          />
          <span class="desc">
            {{movie.description|truncatewords:50}}
          </span>
          <div class="buttons" >
            <button class="play" onclick="action('{{movie.id}}','watch')">
              <i class="fa fa-play" aria-hidden="true"></i>
              <span>Play</span>
            </button>
            <button class="more" onclick="action('{{movie.id}}','info')">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span>Info</span>
            </button>
      </div>
      </div>
  </div>
