{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'navbar.css' %} ">
    <link rel="stylesheet" href="{% static 'info.css' %} ">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="info">
    <div class="left-section">
        <img class="movie-image" src="{{movie.image_thumbnail.url}}" alt="">
        <button onclick="watchTrailer('{{movie.id}}')">Watch a trailer</button>

    </div>
    <div class="right-section">
        <div class="movie-detail">
            <div class="movie-title">
                {{movie.title}}
            </div>
            <div class="movie-rating">
                <span class="start-icon">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </span>
                {{movie.imdb_rating}}/10
            </div>
            <div class="movie-genre">
                Genre: {{movie.genre}}
            </div>
            <div class="movie-desc">
                {{movie.description}}
            </div>
        </div>
    </div>
</div>
<script>
    function watchTrailer(movieId) {
        const url = `{% url 'watch' 0 %}`.replace('0', movieId);
        window.location.href = url;
    }
</script>
{% endblock %}

